 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Direction</h2>
      <i ><img alt="mountains" width="85" height="75" src="http://spark.apache.org/images/spark-logo-trademark.png" /></i>
      <i class="fa fa-bar-chart"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
        <i ><img alt="mountains" width="45" height="75" src="{{ "/assets/img/scala-spiral.png" | prepend: site.baseurl }}" /></i>
        <i class="devicon-python-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-pycharm-plain colored"></i>
      <i class="devicon-intellij-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
